<h2 mat-dialog-title>Reboot</h2>
<mat-dialog-content>
    <div *ngIf="!model.configDirty">
        Are you sure you want to reboot the device?
    </div>
    <div *ngIf="model.configDirty">
        <p>The device configuration has not been saved. You will lose your configuration changes if you reboot now.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-raised-button
        [color]="model.configDirty ? 'warn' : 'primary'"
        (click)="reboot()">Reboot</button>
    <button
        mat-raised-button
        (click)="cancel()">Cancel</button>
</mat-dialog-actions>