<h2 mat-dialog-title>Calibrate</h2>
<mat-dialog-content>
    <div *ngIf="calibrateLevel">
        <p>Make sure the device is in it's "level" position.</p>
    </div>
    <div *ngIf="calibrateTipped">
        <form [formGroup]="form" (ngSubmit)="calibrate()">
            <p>Make sure the device is in a "tipped forward" position.</p>
            <mat-checkbox
            matInput
            formControlName="invertPitchAxis">Invert pitch axis</mat-checkbox>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-raised-button
        color="primary"
        (click)="calibrate()">Calibrate</button>
    <button
        mat-raised-button
        (click)="cancel()">Cancel</button>
</mat-dialog-actions>