<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="ok()">
        <mat-form-field hideRequiredMarker>
            <mat-label>Mode</mat-label>
            <mat-select
                required
                formControlName="mode">
                <mat-option value="Tractor">Tractor</mat-option>
                <mat-option value="Implement">Implement</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
            <mat-label>WiFi Mode</mat-label>
            <mat-select
                required
                formControlName="wifiMode">
                <mat-option value="HouseWifi">House</mat-option>
                <mat-option value="TractorWifi">Tractor</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
            <mat-label>Name</mat-label>
            <input
                type="text"
                matInput
                required
                maxlength="31"
                autocomplete="nickname"
                formControlName="name">
            <mat-hint>Maximum 31 characters</mat-hint>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>House SSID</mat-label>
            <input
                type="text"
                matInput
                maxlength="31"
                autocomplete="ssid"
                [required]="form.controls['wifiMode'].value == 'HouseWifi'"
                formControlName="houseSSID">
            <mat-hint>Maximum 31 characters</mat-hint>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
            <mat-label>House Password</mat-label>
            <input
                [type]="showHousePassword ? 'text' : 'password'"
                matInput
                minlength="8"
                maxlength="31"
                autocomplete="housepassword"
                [required]="form.controls['wifiMode'].value == 'HouseWifi'"
                formControlName="housePassword">
            <mat-icon matSuffix (click)="showHousePassword=!showHousePassword">{{showHousePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint>Minimum 8, maximum 31 characters</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tractor SSID</mat-label>
            <input
                type="text"
                matInput
                maxlength="31"
                autocomplete="ssid"
                [required]="form.controls['wifiMode'].value == 'TractorWifi'"
                formControlName="tractorSSID">
            <mat-hint>Maximum 31 characters</mat-hint>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
            <mat-label>Tractor Password</mat-label>
            <input
                [type]="showTractorPassword ? 'text' : 'password'"
                matInput
                minlength="8"
                maxlength="31"
                autocomplete="tractorpassword"
                [required]="form.controls['wifiMode'].value == 'TractorWifi'"
                formControlName="tractorPassword">
            <mat-icon matSuffix (click)="showTractorPassword=!showTractorPassword">{{showTractorPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-hint>Minimum 8, maximum 31 characters</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tractor Address</mat-label>
            <input
                type="text"
                matInput
                maxlength="15"
                autocomplete="ipaddress"
                [required]="form.controls['wifiMode'].value == 'TractorWifi' || form.controls['mode'].value == 'Implement'"
                formControlName="tractorAddress">
            <mat-hint>Maximum 15 characters</mat-hint>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="ok()"
        [disabled]="!form.valid">OK</button>
    <button
        mat-raised-button
        (click)="cancel()">Cancel</button>
</mat-dialog-actions>