<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Main Menu" [matMenuTriggerFor]="mainMenu"><mat-icon>menu</mat-icon></button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon
        [style.display]="model.configDirty ? 'block' : 'none'"
        matTooltip="The configuration has not been saved">
        warning
    </mat-icon>
</mat-toolbar>
<mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="settings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item (click)="calibrate()" *ngIf="model.mode">
        <mat-icon>perm_data_setting</mat-icon>
        <span>Calibrate</span>
    </button>
    <button mat-menu-item (click)="saveConfig()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
    <button mat-menu-item (click)="reboot()">
        <mat-icon>restart_alt</mat-icon>
        <span>Reboot</span>
    </button>
</mat-menu>

<mat-card>
    <mat-card-title><mat-icon>wifi</mat-icon> WiFi</mat-card-title>
    <mat-card-content>
        <p>
            <strong>Mode:</strong> {{model.wifiMode}}<br/>
            <strong>RSSI:</strong> {{model.wifiRSSI}} dbm
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title *ngIf="model.mode == 'Tractor'"><mat-icon>build</mat-icon> Implement</mat-card-title>
    <mat-card-title *ngIf="model.mode == 'Implement'"><mat-icon>agriculture</mat-icon> Tractor</mat-card-title>
    <mat-card-content>
        <p>
            <strong>Connected:</strong> {{model.implementConnected ? 'Yes' : 'No'}}<br/>
            <span *ngIf="model.implementConnected"><strong>Connected to: </strong> {{model.implementInfo.name ? (model.implementInfo.name + ' (' + model.implementInfo.address + ')') : 'Unknown'}}</span>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><mat-icon>perm_data_setting</mat-icon> Measurements</mat-card-title>
    <mat-card-content>
        <p>
            <strong>Calibrated:</strong> {{model.calibrated ? 'Yes' : 'No'}}<br/>
            <span *ngIf="model.calibrated"><strong>Roll angle:</strong> {{(model.roll / 10)|number}} &deg;<br/></span>
            <span *ngIf="model.calibrated"><strong>Pitch angle:</strong> {{(model.pitch / 10)|number}} &deg;<br/></span>
            <span *ngIf="model.calibrated && model.mode=='Tractor'"><strong>Implement roll:</strong> {{(model.implementRoll / 10)|number}} &deg;<br/></span>
            <span *ngIf="model.calibrated && model.mode=='Tractor'"><strong>Implement pitch:</strong> {{(model.implementPitch / 10)|number}} &deg;</span>
        </p>
    </mat-card-content>
</mat-card>

<button mat-raised-button (click)="test()">
    <span>Test</span>
</button>
