<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Main Menu" [matMenuTriggerFor]="mainMenu"><mat-icon>menu</mat-icon></button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <mat-icon
        [style.display]="model.configDirty.value ? 'block' : 'none'"
        matTooltip="The configuration has not been saved">
        warning
    </mat-icon>
</mat-toolbar>
<mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="settings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
    <button mat-menu-item (click)="calibrate()" *ngIf="model.mode.value">
        <mat-icon>perm_data_setting</mat-icon>
        <span>Calibrate</span>
    </button>
    <button mat-menu-item (click)="pair()" *ngIf="model.mode.value == 'Tractor'">
        <mat-icon>link</mat-icon>
        <span>Pair</span>
    </button>
    <button mat-menu-item (click)="unpair()" *ngIf="model.mode.value == 'Tractor'">
        <mat-icon>link_off</mat-icon>
        <span>Unpair</span>
    </button>
    <button mat-menu-item (click)="saveConfig()">
        <mat-icon>save</mat-icon>
        <span>Save</span>
    </button>
    <button mat-menu-item (click)="reboot()">
        <mat-icon>restart_alt</mat-icon>
        <span>Reboot</span>
    </button>
</mat-menu>

<mat-card>
    <mat-card-title><mat-icon>wifi</mat-icon> WiFi</mat-card-title>
    <mat-card-content>
        <p><strong>Mode:</strong> {{model.wifiMode.value}}</p>
        <p *ngIf="model.wifiMode.value=='Station'"><strong>RSSI:</strong> {{model.wifiRSSI.value}} dB</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><mat-icon>bluetooth</mat-icon> Bluetooth</mat-card-title>
    <mat-card-content>
        <p><strong>Connected:</strong> {{model.btConnected.value ? 'Yes' : 'No'}}</p>
        <p *ngIf="model.btConnected.value"><strong>Connected to: </strong> {{model.btConnectedDevice.value ? (model.btConnectedDevice.value.name + ' (' + model.btConnectedDevice.value.address + ')') : 'None'}}</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title><mat-icon>perm_data_setting</mat-icon> Measurements</mat-card-title>
    <mat-card-content>
        <p><strong>Calibrated:</strong> {{model.calibrated.value ? 'Yes' : 'No'}}</p>
        <p *ngIf="model.calibrated.value"><strong>Roll angle:</strong> {{(model.roll.value / 10)|number}} &deg;</p>
        <p *ngIf="model.calibrated.value"><strong>Pitch angle:</strong> {{(model.pitch.value / 10)|number}} &deg;</p>
        <p *ngIf="model.calibrated.value && model.mode.value=='Tractor'"><strong>Implement roll:</strong> {{(model.implementRoll.value / 10)|number}} &deg;</p>
        <p *ngIf="model.calibrated.value && model.mode.value=='Tractor'"><strong>Implement pitch:</strong> {{(model.implementPitch.value / 10)|number}} &deg;</p>
    </mat-card-content>
</mat-card>
