<mat-sidenav-container>

    <mat-sidenav #sidenav>
        <mat-toolbar color="primary">
            <button mat-icon-button aria-label="Sidenav" (click)="sidenav.close()"><mat-icon>menu</mat-icon></button>
            <span>{{title}}</span>
        </mat-toolbar>
        <mat-action-list>
            <button mat-list-item (click)="sidenav.close();settings()">
                <mat-icon>settings</mat-icon> Settings
            </button>
            <button mat-list-item (click)="sidenav.close();calibrate()" *ngIf="model.running.mode">
                <mat-icon>perm_data_setting</mat-icon> Calibrate
            </button>
            <button mat-list-item (click)="sidenav.close();saveConfig()">
                <mat-icon>save</mat-icon> Save
            </button>
            <mat-divider></mat-divider>
            <button mat-list-item (click)="sidenav.close();reboot()">
                <mat-icon>restart_alt</mat-icon> Reboot
            </button>
        </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <mat-toolbar color="primary">
            <button mat-icon-button aria-label="Sidenav open" (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
            <span>{{title}}</span>
            <span class="spacer"></span>
            <mat-icon
                [style.display]="model.configDirty ? 'block' : 'none'"
                matTooltip="The configuration has not been saved">
                warning
            </mat-icon>
            <mat-spinner
                [style.display]="(model.io.requestsInFlight > 0) ? 'block' : 'none'"
                [diameter]="30"></mat-spinner>
        </mat-toolbar>

        <mat-card>
            <mat-card-title><mat-icon>wifi</mat-icon> WiFi</mat-card-title>
            <mat-card-content>
                <p>
                    <strong>Mode:</strong> {{model.running.wifiMode}}<br/>
                    <strong>RSSI:</strong> {{model.wifiRSSI}} dbm
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title *ngIf="model.running.mode == 'Tractor'"><mat-icon>build</mat-icon> Implement</mat-card-title>
            <mat-card-title *ngIf="model.running.mode == 'Implement'"><mat-icon>agriculture</mat-icon> Tractor</mat-card-title>
            <mat-card-content>
                <p>
                    <strong>Connected:</strong> {{model.remoteConnected ? 'Yes' : 'No'}}<br/>
                    <span *ngIf="model.remoteConnected">
                        <strong>Connected to: </strong> {{model.remoteName ? model.remoteName : 'Unknown'}}
                            <span *ngIf="model.remoteAddress"> (<a target="_blank" href="http://{{model.remoteAddress}}/">{{model.remoteAddress}}</a>)</span>
                    </span>
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title><mat-icon>perm_data_setting</mat-icon> Measurements</mat-card-title>
            <mat-card-content>
                <p>
                    <strong>Calibrated:</strong> {{model.calibrated ? 'Yes' : 'No'}}<br/>
                    <span *ngIf="model.calibrated"><strong>Roll angle:</strong> {{(model.roll / 10)|number}} &deg;<br/></span>
                    <span *ngIf="model.calibrated"><strong>Pitch angle:</strong> {{(model.pitch / 10)|number}} &deg;<br/></span>
                    <span *ngIf="model.calibrated && model.running.mode=='Tractor'"><strong>Implement roll:</strong> {{(model.remoteRoll / 10)|number}} &deg;<br/></span>
                    <span *ngIf="model.calibrated && model.running.mode=='Tractor'"><strong>Implement pitch:</strong> {{(model.remotePitch / 10)|number}} &deg;</span>
                </p>
            </mat-card-content>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>